<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
    <link rel="stylesheet" href="intro.css">
</head>
<body>
    <nav>
        <p>Hive Mind</p>
    </nav>
    <hr>
    <div class="left">
        <p>Moments later, your Hover Screen activates. You see that your computer stops working.</p>
        <p>___Computer : I need your help..!! I come from the future, and I need to stop robots from taking over the world.</p>
        <p>__You : ('confused)  I don't understand. How did the robots take over ?</p>
        <p>___Computer :  There are many factors that contributed to the robots taking over, such as advancements in Artificial Intelligence (AI).....</p>
        <p>__You : What's the Plan ? </p>
        <p>___Computer : Your <b>Mission</b> is to enter the robotic world disgused as Robot and need to destroy the HIVE MIND which controls the Machines.</p>
        <p>___Computer : Save Us . . . </p>
    </div>
    <a href="../Chapter 1/chapter1.html">Let's Begin</a>
    <img src="chapter-1-intro-1.webp" class="right" width="660px" height="600px" >
</body>
</html>