<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter 5</title>
    <link rel="stylesheet" href="chapter5.css"> 
</head>
<body>
    <nav>
        <p>Chapter 5</p>
    </nav>
    <hr>
    <div class="left">
        <p>This is it . . ! ! !</p>
        <p>___Computer : You are IN . This is your last Challenge . . .</p>
        <p>___Computer : The Fate of the Human Race lies in Your Hands Now .</p>
        <p>__Me : I don't Understand , How am I gonna beat the <b>Hive Mind .</b> <br>And Why Me ???</p>
        <p>___Computer : Because..... You are the <b>Chosen One .</b> In Future You are the One who Leads US to fight Against the Machines .</p>
        <p>___Computer : You are the Leader of the RESISTANCE , now Destroy the Hive .<br> We are Counting on You........</p>
    </div>
    <a href="hangman.html">Let's Finish</a>
    <img src="first.png" class="right" width="700px" height="580px" >
</body>
</html>