<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finish</title>
    <link rel="stylesheet" href="finish.css">
</head>
<body>
    <div class="altaf">
        <h1>Congratulations..!!</h1>
    </div>
    <div class="rain">
        <h2>Soft Skills Analysis</h2>
    </div>
    <div class="raza">
        <p>1. Problem - Solving : 94 %</p>
        <p>2. Critical Thinking : 82.54 %</p>
        <p>3. Attention to Detail : 92.6 %</p>
        <p>4. Time Management : 87 %</p>
        <p>5. Emotional Intelligence :93.8%</p>
        <p>6. Communication : 95.2 %</p>
        <h6 style="color:orange;position: relative;top: -25px;">Areas of Improvement : Critical Thinking</h6>
    </div>
    <a href="../Home/home.html">Finish</a>
</body>
</html>