<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter 4</title>
    <link rel="stylesheet" href="chapter4.css">
</head>
<body>
    <nav>
        <p>Chapter 4</p>
    </nav>
    <hr>
    <div class="left">
        <p>Congratulations..!!</p>
        <p>___Computer : You have Reached the Hive Tower . This is it where it all Began . . .</p>
        <p>___Computer : There's a Central Hive <b>(Hive Mind)</b> that controls all the Systems around the World , but it has a Firewall that prevents any Robot from entering inside .</p>
        <p>___Computer : ( You ) Now being a Robot in the Matrix . Should Prove yourself as Human and enter inside .</p>
        <p>___Computer : Your Mission should you choose to accept it ,is to Get inside the Tower inorder to reach the Hive .</p>
    </div>
    <a href="emotion.html">Enter the Hive</a>
    <img src="chapter-1-challenge-1-success.webp" class="right" width="550px" height="550px" >
</body>
</html>