<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter 3</title>
    <link rel="stylesheet" href="chapter3.css">
</head>
<body>
    <nav>
        <p>Chapter 3</p>
    </nav>
    <hr>
    <div class="left">
        <p>Let's decode the message .</p>
        <p>___Computer : The message you found was encoded in a format called HEX. Now we will run a command to turn it into ASCII, which we will be able to read.</p>
        <p> > >Decoding . . .</p>
        <p><i> > > EThe Times 03/Jan/2009 Chancellor on brink of second bailout for banks .</i></p>
        <p>___Computer : As you can see, the clue is an address. Go to it.</p>
        <p>___Computer : Caution . . !!<br>The Robots have known your identity , now it's just a matter of time before they come for you .<br><br>They have altered the Reality, you need to find the DIFFERENCES in the Matrix . .</p>
        <p>___Computer : Your Mission is to find your way to <i>The Real Times Building</i></p>
    </div>
    <a href="matrix.html">Enter the Matrix</a>
    <h2>Instructions : Click On the Cube to Remove It .</h2>
    <img src="chapter-1-outro.webp" class="right" width="650px" height="730px" >
</body>
</html>